body    {
    padding: 100px;
    background-image: linear-gradient(-20deg, #000000 0%, #000000 100%);
    text-align: center;
    font-family: 'quicksand', sans-serif;
}
ul {
    margin-left: -45;
}
li {
    list-style: none;
    display: inline-block;
}
.main {
    width: 800px;
    height: 520px;
    background-color: #b6edfc;
    margin: 0 auto;
    padding-top: 20px;
    border-radius: 10px;
    border: 1px solid #eeeeee
}
.img {
    background-image: url(IMG.jpg);
    background-color: #010405;
    background-size: cover;
    border-radius: 100px;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border: 1px solid #0c2329;
}
h1 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    font-weight: bold;
    color: #eb343428;
}
.text {
    text-align: center ;
    font-size: 10px;
    padding-top: 0px;
    margin: 0;
    color: #060c0c;
}
p {
    margin: 0 auto;
    padding-top: 20px;
    width: 450px;
    height: auto;
    color: #030808;
}